schema/InterproScanWrapped/InterproScanWrappedJob.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns0="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.domain.interproscan" xmlns:ns1="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.domain.common" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns2="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.valuedomains" xmlns:ns8="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns7="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job/types" xmlns:ns6="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" name="InterproScanWrappedJob" targetNamespace="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="./../wsrf/lifetime/WS-ResourceLifetime.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.domain.interproscan" schemaLocation="./interproscan.xsd" />
      <import namespace="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.domain.common" schemaLocation="./common.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.valuedomains" schemaLocation="./valuedomains.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="../wsrf/lifetime/WS-ResourceLifetime.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job/types" schemaLocation="./InterproScanWrappedJobTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <element name="GetStatusRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetStatusResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetOutputRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetOutputResponse">
        <complexType>
          <sequence>
            <element ref="ns0:InterProScanOutput" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetErrorRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetErrorResponse">
        <complexType>
          <sequence>
            <element ref="ns1:Error" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="InterproScanWrappedJobResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns0:InterProScanOutput" />
            <element ref="ns1:Error" />
            <element ref="ns8:CurrentTime" />
            <element ref="ns8:TerminationTime" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetStatusRequest">
    <part name="parameters" element="tns:GetStatusRequest" />
  </message>
  <message name="GetStatusResponse">
    <part name="parameters" element="tns:GetStatusResponse" />
  </message>
  <message name="GetOutputRequest">
    <part name="parameters" element="tns:GetOutputRequest" />
  </message>
  <message name="GetOutputResponse">
    <part name="parameters" element="tns:GetOutputResponse" />
  </message>
  <message name="GetErrorRequest">
    <part name="parameters" element="tns:GetErrorRequest" />
  </message>
  <message name="GetErrorResponse">
    <part name="parameters" element="tns:GetErrorResponse" />
  </message>
  <message name="ErrorFaultMessage">
    <part name="fault" element="ns1:Error" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="InterproScanWrappedJobPortType" wsrp:ResourceProperties="tns:InterproScanWrappedJobResourceProperties">
    <operation name="getStatus">
      <input message="tns:GetStatusRequest" wsa:Action="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job/GetStatusRequest" />
      <output message="tns:GetStatusResponse" wsa:Action="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job/GetStatusResponse" />
      <fault name="Error" message="tns:ErrorFaultMessage" wsa:Action="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job/ErrorFaultMessage" />
    </operation>
    <operation name="getOutput">
      <input message="tns:GetOutputRequest" wsa:Action="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job/GetOutputRequest" />
      <output message="tns:GetOutputResponse" wsa:Action="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job/GetOutputResponse" />
      <fault name="Error" message="tns:ErrorFaultMessage" wsa:Action="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job/ErrorFaultMessage" />
    </operation>
    <operation name="getError">
      <input message="tns:GetErrorRequest" wsa:Action="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job/GetErrorRequest" />
      <output message="tns:GetErrorResponse" wsa:Action="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job/GetErrorResponse" />
      <fault name="Error" message="tns:ErrorFaultMessage" wsa:Action="gme://Taverna-caGrid.caBIG/1.0/uk.org.mygrid.cagrid.service.interproscan/Job/ErrorFaultMessage" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy" />
      <wsdl:output message="wsrlw:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse" />
      <wsdl:fault message="wsrlw:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SetTerminationTime">
      <wsdl:input message="wsrlw:SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTime" />
      <wsdl:output message="wsrlw:SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTimeResponse" />
      <wsdl:fault message="wsrlw:UnableToSetTerminationTimeFault" name="UnableToSetTerminationTimeFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
      <wsdl:fault message="wsrlw:TerminationTimeChangeRejectedFault" name="TerminationTimeChangeRejectedFault" />
    </wsdl:operation>
  </portType>
</definitions>

